* {
    box-sizing: border-box;
}
#forecast-24h {
    border-left: 4px solid grey;
    padding-left: 20px;
    margin: 2vw 0 0 6vw;
}
#myTab {
    margin-top: 3vw;
}
.tab-content .row {
    margin-top: 15px;
}
#mapid {
    height: 400px;
    width: 600px;
}
.inline-text {
    display: inline;
    margin-right: 15px;
}
#terms {
    display: none;
}
.location-data {
    padding: 3vw 1vw;
}
#submit-btn {
    margin-top: 10px;
}
footer {
    font-size: 14px;
    text-align: center;
    margin-top: 2vw;
}


@media screen and (max-width: 576px) {
    #mapid {
        width: 460px;
    }
    #forecast-24h {
        border-left: none;
        padding-right: 0;
        margin: 2vw 0 0 0;
    }
}