:root {
    --search-bar-border: 1px solid #b3b3b3;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.weather-container {
    position: fixed;
    right: 15px;
    top: 8px;
    width: 430px;
}

.mobile-slider {
    border-radius: 12px;
    opacity: 0;
    margin-bottom: 10px;
    width: 55%;
}

.weather-readings {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    padding: 20px 35px;
    height: 251px;
}

.search-bar .input-group-text {
    background-color: white;
    border: var(--search-bar-border);
    border-right: none;
    border-radius: 8px;
}

.search-bar input[type="search"] {
    border-radius: 8px;
    border: var(--search-bar-border);
    border-left: none;
    padding: 8px;
    width: calc(430px - 41px);
}

.search-bar input[type="search"]:focus {
    outline: none;
}

.arrow-down {
    font-size: 20px;
    position: absolute;
    padding: 8px;
    left: 50%;
    margin-left: -18px;
    margin-top: -8px;
}

.arrow-down:hover {
    cursor: pointer;
}

@keyframes slideDown {
    from { height: 251px; }
    to { height: 44vw; }
}

.more-readings {
    display: none;
}

.weather-4d-card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.mapboxgl-ctrl-bottom-right {
    display: none;
}


@media (max-width: 575.98px) {
    ::-webkit-scrollbar {
        display: none;
    }

    .mapboxgl-ctrl-bottom-left {
        z-index: 1;
    }

    .weather-container {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        height: 50px;
        width: 350px;
        z-index: 2;
    }

    .search-bar input[type="search"] {
        width: 88%;
    }

    .mobile-slider {
        opacity: 0.3;
    }

    .weather-readings-container {
        position: relative;
        top: 73vh;
    }

    .weather-readings {
        overflow-y: scroll;
        height: 50vh;
        padding-left: 15px;
        padding-right: 15px;
    }

    .arrow-down {
        display: none;
    }

    .more-readings {
        display: block;
    }

    @keyframes slideUp {
        to { top: 8px; }
    }

    @keyframes slideDown {
        to { top: 68vh; }
    }
}