:root {
    --search-bar-border: 1px solid #b3b3b3;
    --weather-readings-container: 270px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a, a:hover {
    color: grey;
}

.hidden {
    display: none;
}

.loading-icon {
    display: none;
    font-size: 22px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
}

.main-container {
    position: fixed;
    top: 8px;
    right: 15px;
    width: 410px;
}

.search-bar .input-group-text {
    background-color: white;
    border: var(--search-bar-border);
    border-right: none;
    border-radius: 8px;
}

.search-bar input[type="search"] {
    border-radius: 0 8px 8px 0 !important;
    border: var(--search-bar-border);
    border-left: none;
    padding: 8px;
    width: calc(410px - 41px);
}

.search-bar input[type="search"]:focus {
    outline: none;
}

.weather-readings-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 8px;
    height: var(--weather-readings-container);
}

.weather-readings {
    padding: 20px 35px 20px 32px;
}

.arrow-down {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    left: 50%;
    margin-left: -17.5px;
}

.more-readings {
    display: none;
}

.weather-card-4D {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

@keyframes slideUp {
    from {
        height: 45vw;
    }
    to {
        height: var(--weather-readings-container);
    }
}

@keyframes slideDown {
    from {
        height: var(--weather-readings-container);
    }
    to {
        height: 45vw;
    }
}

@media (max-width: 575.98px) {
    ::-webkit-scrollbar {
        display: none;
    }

    .loading-icon {
        display: none !important;
    }

    .main-container {
        left: 50%;
        transform: translate(-50%, 0);
        width: 350px;
    }

    .search-bar input[type="search"] {
        width: 88%;
    }

    .arrow-down {
        padding-bottom: 10px;
    }

    @keyframes slideUp {
        from {
            height: 80vh;
        }
        to {
            height: var(--weather-readings-container);
        }
    }

    @keyframes slideDown {
        from {
            height: var(--weather-readings-container);
        }
        to {
            height: 85vh;
        }
    }
}

@media (min-width: 1200px) {
    @keyframes slideUp {
        from {
            height: 70vh;
        }
        to {
            height: var(--weather-readings-container);
        }
    }

    @keyframes slideDown {
        from {
            height: var(--weather-readings-container);
        }
        to {
            height: 85vh;
        }
    }
}
